<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Accomodation</h4>
      <p>Not so far from Budapest, preferably in an hour by public transport. Nothing fancy, but a bed and possibility to camp. Hopefully somewhere next to water.</p>
    </li>
    <li id="section-2">
      <h4>Food</h4>
      <p>Most probably something that is mainly done in the big thing over the fire. Not vegan friendly, but we'll try to do our best.</p>
    </li>
    <li id="section-3">
      <h4>Drinks</h4>
      <p>Depending on actual prices of the previous two and other logistics the remaining money is going to be transformed into liquid. Maybe we'll bring down more to share it based on beszerzési price.</p>
    </li>
    <li id="section-4">
      <h4>Program</h4>
      <p>We want to have a lot of fun! Friday warm-up party, Saturday activities during the day (workshops, quiz games, anything) and multi music themed party at night.</p>
    </li>
  </ul>
</div>
